<p>Register as an: </p>
<p><%= link_to "Interviewer", new_interviewer_path, :class => "btn  btn-primary" %></p>
<p><%= link_to "Interviewee", new_interviewee_path, :class => "btn  btn-primary" %></p>
<br>
