<h1>Interviewee Profile</h1><br>

<p>Name: <%= @interviewee.name %></p>
<p>Email: <%= @interviewee.email %></p>

<%= button_to 'Delete Account', interviewee_path(@interviewee), method: :delete %>