<h1>Interviewer Profile</h1><br>

<p>ID: <%= @interviewer.id %></p>
<p>Name: <%= @interviewer.name %></p>
<p>Email: <%= @interviewer.email %></p>

<% if current_user == @interviewer%>
    <%= button_to 'Delete Account', interviewer_path(@interviewer), method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>