<h1>Interviewer Profile</h1><br>

<p>ID: <%= @interviewer.id %></p>
<p>Name: <%= @interviewer.name %></p>
<p>Email: <%= @interviewer.email %></p>


<%= button_to 'Delete Account', interviewer_path(@interviewer), method: :delete %>