<h1>Mockit</h1>
<h3>#mockit till you make it.</h3><br>

<% if !current_user %>
    <p>Wanna join the #mockimmunity? </p>
    Register as an
    <%= link_to "Interviewer", new_interviewer_path, :class => "btn  btn-outline-primary" %>
    or <%= link_to "Interviewee", new_interviewee_path, :class => "btn  btn-outline-primary" %> today!<br>
<% end %>

<% if current_user && account_type == "Interviewee" %>
    <%= link_to "Schedule Your Next Interview!", new_interview_path, :class => "btn  btn-primary"  %><br>
<% end %>