<h1>Mockit</h1>
<h3>#mockit till you make it.</h3><br>

<% if !current_user %>
    <p>Join the #mockimmunity now!</p>
    <%= link_to "Become an Interviewer", new_interviewer_path %><br>
    <%= link_to "Become an Interviewee", new_interviewee_path %><br>

    <%= link_to('Log in with Facebook!', '/auth/facebook') %>
<% end %>