<% if alert %>
    <div class="alert alert-danger">
        <%= alert %>
    </div>
<% end %>

<h1>Company Index Page</h1><br>

<% @companies.each do |company| %>
    <p><%= link_to company.name, company_path(company) %></p>
<% end %>